.nitro-room-widgets {
    pointer-events: none;
}

.exchange-image {
    background-image: url('@/assets/images/room-widgets/exchange-credit/exchange-credit-image.png');
    width: 103px;
    height: 103px;
}

.dimmer-banner {
    width: 56px;
    height: 79px;
    background: url('@/assets/images/room-widgets/dimmer-widget/dimmer_banner.png') center no-repeat;
}

.mannequin-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 130px;
    background-image: url('@/assets/images/room-widgets/mannequin-widget/mannequin-spritesheet.png');
    overflow: hidden;

    .avatar-image {
        background-position: unset;
        top: -8px;
    }
}

.product-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 130px;
    background: url('@/assets/images/room-widgets/avatar-info/preview-background.png') no-repeat center;

    .monsterplant-image {
        width: 122px;
        height: 130px;
        background: url('@/assets/images/room-widgets/furni-context-menu/monsterplant-preview.png') no-repeat center;
    }
}

.youtube-video-container {
    .youtubeContainer {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .youtubeContainer iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.disk-2,
.disk-image {
    background-blend-mode: multiply;
}

.disk-image {
    background: url('@/assets/images/room-widgets/playlist-editor/disk_image.png');
    -webkit-mask-image: url('@/assets/images/room-widgets/playlist-editor/disk_image.png');
    mask-image: url('@/assets/images/room-widgets/playlist-editor/disk_image.png');
    height: 76px;
    width: 76px;
}

.disk-2 {
    width: 38px;
    height: 38px;
    background-image: url('@/assets/images/room-widgets/playlist-editor/disk_2.png');
    background-position: center;
    background-repeat: no-repeat;

    &.playing-song {
        background-image: url('@/assets/images/room-widgets/playlist-editor/playing.png');
    }

    &.selected-song {
        background-image: url('@/assets/images/room-widgets/playlist-editor/move.png');
        transform: scaleX(-1);
    }

    &:not(.playing-song):not(.selected-song) {
        -webkit-mask-image: url('@/assets/images/room-widgets/playlist-editor/disk_2.png');
        mask-image: url('@/assets/images/room-widgets/playlist-editor/disk_2.png');
    }
}

.prize-container {
    height: 80px;
    width: 81px;
    background-image: url('@/assets/images/prize/prize_background.png');
    background-repeat: no-repeat;
    background-position: center;
}

.mysterytrophy-image {
    width: 80px;
    height: 84px;
    position: relative;
    background-image: url('@/assets/images/mysterytrophy/frank_mystery_trophy.png');
    background-repeat: no-repeat;
}

.engraving-lock-stage-1 {
    width: 31px;
    height: 39px;
    background-position: -380px -43px;
    background-image: url('@/assets/images/room-widgets/engraving-lock-widget/engraving-lock-spritesheet.png');
}

.engraving-lock-stage-2 {
    width: 36px;
    height: 43px;
    background-position: -375px 0px;
    background-image: url('@/assets/images/room-widgets/engraving-lock-widget/engraving-lock-spritesheet.png');
}

.nitro-stickie {
    position: relative;
    width: 185px;
    height: 178px;
    top: 25px;
    left: 25px;
    padding: 1px;
    pointer-events: all;

    .stickie-header {
        width: 183px;
        height: 18px;
        padding: 0 7px;

        .header-trash,
        .header-close {
            cursor: pointer;
        }

        .stickie-color {
            width: 10px;
            height: 10px;
            cursor: pointer;
        }
    }

    .stickie-context {
        width: 183px;
        height: 145px;
        padding: 2px 7px;
        font-size: 12px;
        color: $black;

        .context-text {
            width: 100%;
            height: 100%;
            padding: 0;
            overflow-wrap: break-word;
            white-space: break-spaces;
            overflow-y: auto;
        }

        textarea {
            background: transparent;
            border: 0;
            outline: none;
            box-shadow: none;
            resize: none;
            font-style: italic;

            &:active {
                border: 0;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.nitro-stickie-image {
    background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-spritesheet.png');

    &.stickie-blue,
    &.stickie-yellow,
    &.stickie-green,
    &.stickie-pink {
        width: 185px;
        height: 178px;
    }

    &.stickie-blue {
        background-position: -2px -2px;
    }

    &.stickie-yellow {
        background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-yellow.png');
        //background-position: -191px -184px;
    }

    &.stickie-green {
        background-position: -191px -2px;
    }

    &.stickie-pink {
        background-position: -2px -184px;
    }

    &.stickie-christmas {
        background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-christmas.png');
    }

    &.stickie-shakesp {
        background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-shakesp.png');
    }

    &.stickie-dreams {
        background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-dreams.png');
    }

    &.stickie-heart {
        background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-heart.png');
    }

    &.stickie-juninas {
        background-image: url('@/assets/images/room-widgets/stickie-widget/stickie-juninas.png');
    }

    &.stickie-close {
        width: 10px;
        height: 10px;
        background-position: -2px -366px;
    }

    &.stickie-trash {
        width: 9px;
        height: 10px;
        background-position: -16px -366px;
    }
}

.nitro-widget-high-score {
    width: 250px;
    max-width: 250px;
    height: 200px;
}
