.nitro-toolbar {
    .navigation-item {
        &.item-avatar {
            .avatar-image {
                margin-left: -5px;
                margin-top: 25px;
            }
        }
    }

    #toolbar-chat-input-container {
        @media (max-width: 575.98px) {
            width: 0px;
            height: 0px;
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1))
        drop-shadow(-2px 1px 0 rgba($white, 1))
        drop-shadow(0 -2px 0 rgba($white, 1));
}
