.nitro-hotel-view {
    display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;

	.particles-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}
