.nitro-hotel-view {
    display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	color: rgba(255, 255, 255, 0.90);
	
	.prism-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.avatar-image {
		bottom: 12px;
		left: 57px;
		position: absolute;
		z-index: 1;
	}

	.landing-widgets {
		z-index: 9;
		position: relative;
	}

	.widget-slot {
		z-index: 9;	
	}

	hr {
		background: $black;
		box-shadow: 0 1px rgba($white,.5);
		opacity: 0.5
	}
}

@import './views/widgets/HotelViewWidgets';
