$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 33px;

.nitro-card {
    resize: both;

    @include media-breakpoint-down(lg) {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    &.theme-primary {
        border: $border-width solid $border-color;

        .nitro-card-header {
            min-height: 33px;
            max-height: 33px;
            background: $primary;

            .nitro-card-header-text {
                color: $white;
                text-shadow: none;
                @include font-size($h4-font-size);
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 2px 2px;
                line-height: 1;
                border-radius: $border-radius;
                border: 1px solid rgba($white, 0.3);
                background: rgba($white, 0.15);

                &:hover {
                    background: rgba($white, 0.25);
                }

                &:active {
                    background: rgba($white, 0.1);
                }
            }

            .nitro-card-header-report-camera {
                cursor: pointer;
                padding: 1px 3px;
                line-height: 1;
                border-radius: $border-radius;
                border: 1px solid rgba($white, 0.3);
                background: rgba($white, 0.15);

                &:hover {
                    background: rgba($white, 0.25);
                }

                &:active {
                    background: rgba($white, 0.1);
                }
            }
        }

        .nitro-card-tabs {
            background-color: #F4F4F5;

            .nav-item {
                padding: $nav-link-padding-y $nav-link-padding-x;
                background-color: #E4E4E7;
                color: $black;
                z-index: 1;
                margin-bottom: -1px;

                &.active {
                    background-color: $white;
                    border-color: $border-color $border-color $white !important;
                    border-bottom: 1px solid $border-color;

                    &:before {
                        background: $white;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 93%;
                    height: 3px;
                    border-radius: 0.25rem;
                    top: 1.5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #D4D4D8;
                    z-index: 1;
                }
            }
        }

        .content-area {
            background-color: $light;
        }
    }

    &.theme-primary-slim {
        border: $border-width solid $border-color;

        .nitro-card-header {
            position: relative;
            min-height: 28px;
            max-height: 28px;
            background: $primary;
            border-bottom: 1px solid $border-color;
            box-shadow: none;
            width: 100%;
            margin: 0;
            padding-top:2px;

            &:before {
                display: none;
            }

            .nitro-card-header-text {
                color: $white;
                text-shadow: none;
                @include font-size($h5-font-size);
                min-height: 21px;
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 0px 2px;
                line-height: 1;
                @include font-size($h7-font-size);
                border-radius: $border-radius;
                border: 1px solid rgba($white, 0.3);
                background: rgba($white, 0.15);

                &:hover {
                    background: rgba($white, 0.25);
                }

                &:active {
                    background: rgba($white, 0.1);
                }
            }

            .nitro-card-header-report-camera {
                cursor: pointer;
                padding: 0px 2px;
                margin-right: 4px;
                line-height: 1;
                @include font-size($h7-font-size);
                border-radius: $border-radius;
                border: 1px solid rgba($white, 0.3);
                background: rgba($white, 0.15);

                &:hover {
                    background: rgba($white, 0.25);
                }

                &:active {
                    background: rgba($white, 0.1);
                }
            }
        }

        .nitro-card-tabs {
            background-color: #F4F4F5;
        }

        .content-area {
            background-color: $light;
        }
    }
}

.content-area {
    height: 100%;
    padding-top: $container-padding-x;
    padding-bottom: $container-padding-x;
    overflow: auto;

    &.theme-dark {
        background-color: #1C323F !important;
    }
}

@include media-breakpoint-down(lg) {
    .content-area {
        height: 100% !important;
        min-height: auto !important;
        max-height: 100% !important;
    }
}

.nitro-card-header {
    position: relative;
    height: 100%;
}

.nitro-card-tabs {
    height: 100%;
    min-height: $nitro-card-tabs-height;
    max-height: $nitro-card-tabs-height;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
}

.nitro-card-accordion-set {

    &.active {
        height: 100%;
        overflow: hidden;
        background: rgba($white, 0.5);
        border-bottom: 1px solid rgba($black, 0.2);
    }

    .nitro-card-accordion-set-header {
        border-bottom: 1px solid rgba($black, 0.2);
    }
}
