.nitro-right-side {
    position: absolute;
    top: 56px;
    right: calc(var(--drawer-width, 0px) + 10px);
    transition: right 0.3s ease-out;
    min-width: 280px;
    max-width: 280px;
    height: calc(100% - #{$toolbar-height});
    z-index: $rightside-zindex;
    pointer-events: none;
}
