// ── Navigator Drawer Inner Styles ─────────────────────────────────────────────
.navigator-drawer {
    [data-radix-scroll-area-thumb] {
        background-color: rgba(255, 255, 255, 0.10);
        border-radius: 9999px;
    }
}

// ── Navigator Sub-dialog Sizes ───────────────────────
.nitro-navigator-doorbell,
.nitro-navigator-password {
    width: 250px;
}

.nitro-room-info {
    width: $room-info-width;
}

.nitro-room-link {
    width: 400px;
}

.nitro-room-settings {
    width: 400px;

    .list-container {
        height: 100px;
    }
}

.room-info {
    width: 275px;
}
