.nitro-slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;

    .track {
        height: 3px;
        border-radius: $border-radius;
        overflow: hidden;

        &.track-0 {
            background-color: rgba(255, 255, 255, 0.40);
        }

        &.track-1 {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    .thumb {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.90);
        color: rgba(0, 0, 0, 0.70);
        font-size: 10px;
        text-align: center;
        line-height: 25px;
        padding: 0 3px;

        &:hover,
        .active {
            cursor: pointer;
        }

        &.active {
            outline: none;
        }

        &.degree {

            &:after {
                content: '\00b0'
            }
        }

        &.percent {

            &:after {
                content: '\0025'
            }
        }
    }
}
